/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --active-color: #489c79;
  --rising-sun-color: #edc655;
  --midday-sun-color: #fcffad;
  --setting-sun-color: #f76414;
  --pure-white: #ffffff;
  --dark-blue: rgb(0, 0, 139);
  --spring-green: rgb(0, 255, 127);
  --real-teal: rgb(0, 128, 128);
  --black: rgb(0, 0, 0);
  --light-grey: rgb(211, 211, 211);
  --font-size-regular: 20px;
  --font-size-small: 15px;
  --font-size-h1: 50px;
  --font-size-h2: 35px;
  --font-size-h3: 25px;
  --font-weight: 200px;
  --grid-gap: 20px;
  --grid-gap-project-list: 10px;
  --padding: 20px;
  --button-padding: 10px;
  --margin: 15px;
  --very-light-gray: rgb(235, 235, 235);
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -75px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

body {
  background-color: var(--pure-white);
  font-family: 'Crimson Pro', serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight);
}

h1,
h2,
h3,
a,
table,
div,
label {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

.fa-twitter-square {
  font-size: 50px;
  color: #00acee;
}

.fa-github {
  font-size: 50px;
  color: #000000;
}

.fa-linkedin {
  font-size: 50px;
  color: #0072b1;
}

.fab:hover {
  color: var(--secondary-color);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
}

li[class='card'] {
  position: relative;
  padding-bottom: 50px;
  border-radius: 20px;
}

.center-bottom-button {
  width: 85%;
  position: absolute;
  bottom: 5px;
}

p {
  color: var(--primary-color);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight);
}

#contact-email,
#contact-telephone,
#contact-message {
  border-radius: 5px;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--pure-white);
  text-decoration: none;
  padding: var(--button-padding);
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

#button {
  color: var(--pure-white);
}

.button-join {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: var(--margin);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile_portrait {
  width: 40%;
  height: auto;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

.main-profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 70px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='submit'] {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--pure-white);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

input[type='submit']:hover,
input[type='submit']:focus {
  cursor: pointer;
  opacity: 0.8;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.page-footer-index {
  bottom: 0;
  /* position: absolute; */
  width: 100%;
  text-align: center;
}

img[alt='logo'] {
  height: 100px;
  width: auto;
  position: absolute;
  right: 30px;
}

table,
th,
td {
  border: 1px solid var(--black);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: var(--primary-color);
  color: var(--pure-white);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: var(--padding);
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0, 1, 200px;
  flex: 0, 1, 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.main-contact,
.main-about,
.main-work {
  text-align: center;
}

address {
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  color: var(--primary-color);
  background-color: var(--very-light-gray);
}

address a {
  color: grey;
}

#photo-collage {
  background-color: var(--very-light-gray);
  padding: 50px 100px;
}

#photo-collage img {
  width: 50vw;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  padding: 20px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-around;
}

/* start grid fallback */
li[role='project-list__item'] {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  ul[role='project-list'] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--grid-gap) 1fr var(--grid-gap) 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--grid-gap);
    margin: 0;
  }

  li[role='project-list__item'] {
    background-color: var(--very-light-gray);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: var(--padding);
  }
}

ul[role='project-list'] {
  margin-left: 135px;
  margin-right: 175px;
}

@media all and (max-width: 500px) {
  ul[role='project-list'] {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: var(--grid-gap);
  }
  li[role='project-list__item']:last-child {
    grid-column: auto;
    grid-row: auto;
  }
  h1 {
    font-size: var(--font-size-regular);
  }
  h2 {
    font-size: var(--font-size-regular);
  }
  h3 {
    font-size: var(--font-size-regular);
  }
  table {
    font-size: var(--font-size-small);
  }
  p {
    font-size: var(--font-size-small);
  }

  .profile_portrait {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .buttons {
    display: block;
    text-align: center;
  }

  .introduction {
    display: block;
    text-align: center;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
  }
  .page-footer-index {
    position: relative;
  }
  #photo-collage {
    padding: 0;
  }
  #photo-collage img {
    width: 50vw;
    height: auto;
    border-radius: 50%;
  }
  img[alt='logo'] {
    height: 50px;
    width: auto;
    right: 10px;
  }
  #menuToggle {
    top: 20px;
    left: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 850px) {
  ul[role='project-list'] {
    -ms-grid-columns: 1fr var(--grid-gap) 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }
  li[role='project-list__item']:last-child {
    grid-column: auto;
    grid-row: auto;
  }
  h1 {
    font-size: var(--font-size-regular);
  }
  h2 {
    font-size: var(--font-size-regular);
  }
  h3 {
    font-size: var(--font-size-regular);
  }
  table {
    font-size: var(--font-size-small);
  }
  p {
    font-size: var(--font-size-small);
  }

  .profile_portrait {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .buttons {
    display: block;
    text-align: center;
  }

  .introduction {
    display: block;
    text-align: center;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
  }
  .page-footer-index {
    position: relative;
  }
  #photo-collage {
    padding: 0;
  }
  #photo-collage img {
    width: 50%vw;
    height: auto;
    border-radius: 50%;
  }
}

@media all and (max-width: 850px) {
  ul[role='project-list'] {
    grid-gap: var(--grid-gap-project-list);
  }
}
